*/
!/config
!/crash-reports
!/defaultconfigs
!/kubejs
!/minemenu
!/modpack-assets
!/scripts
!/resourcepacks/ExitianExpertOverrides
!/schematics
!/simple-rpc
!minecraftinstance.json
usercache.json
patchouli_data.json
reauth.toml
registry.dump
simple-rpc.bak
usernamecache.json
waila_handlers.md
